{
	"useTabs": true,
	"trailingComma": "none",
	"printWidth": 100,
	"endOfLine": "lf",
	"plugins": [
		"@ianvs/prettier-plugin-sort-imports",
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	],
	"importOrder": ["<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "^[./]"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
